@{
    ViewBag.Title = "About";
}

<style>
    .text-justify {
        text-align: justify;
    }
</style>


<div class="container-fluid">
    <h2 class="text-center py-3">Why Is Water So Essential for Life? </h2>
    <br />
    <div class="row" style="padding-top:5em">
        <div class="col-sm-4"><img src="~/Images/images_sml/glass_water_sml.jpg" class="img-fluid margin" style="width: 100%" alt="Glass Water Image"/></div>
        <div class="col-sm-8 text-justify">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <br />
        </div>
    </div>
    <div class="row" style="padding-top:5em">
        <div class="col-sm-8 text-justify">
            <h3>Clear Water</h3>
            <br />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div class="col-sm-4">
            <img src="~/Images/images_sml/water_bottle_sml.jpg" class="img-fluid margin" stlye="width:100%" alt="Water Bottle Image" />
        </div>
    </div>
</div>