@{
    ViewBag.Title = "Home Page";
}


<!-- First Container -->
<div class="containter-fluid text-center mb-3">
    <h2>Are you Drinking Enough Water?</h2>
    <img src="~/Images/beverages_large.png" />
    <br />
    <h3>Don't Be A Drip! Take a Sip</h3>
    <br />
</div>

<!-- Second Container -->
<div class="containter-fluid bg-secondary text-center white-text p-5">
    <h2>Count Each Drop</h2>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a href="@Url.Action("Login", "Account")" class="btn btn-outline-light btn-lg">
        <img src="~/Images/Icon/favicon.ico" alt="Favicon" />
        <p class="d-inline white-text">Login</p>
    </a>
</div>

<!-- Third Container (Grid) -->
<div class="containter-fluid bg-tertairy text-center p-5">
    <h2>Hot Drinks! Cold Drinks!</h2>
    <br />
    <div class="row">
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="~/Images/images_sml/tea_cup_sml.jpg" class="img-fluid margin" style="width:100%" alt="Tea Cup Image" />
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="~/Images/images_sml/glass_water_sml.jpg" class="img-fluid margin" style="width:100%" alt="Glass Water Image" />
        </div>
        <div class="col-sm-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="~/Images/images_sml/orange_juice_glass_sml.jpg" class="img-fluid margin" style="width:100%" alt="Orange Juice Glass Image" />
        </div>
    </div>
</div>