/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.white-text {
    color:#fff;
}
.dark-color-text {
    color: #545454;
}

.bg-secondary {
    background-color: #1c2e4a !important;
}
.bg-tertairy {
    background-color: #ececec;
}

.margin {
    margin: auto;
}

.navbar-light {
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-navbar-hover-color: rgba(0, 0, 0, 0.75);
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.25);
    --bs-navbar-active-color: #000;
    --bs-navbar-brand-color: #000;
    --bs-navbar-brand-hover-color: #000;
    --bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    background-image: url('@Url.Content("~/Images/Water_Logo_sml.png")');
}

footer {
    text-align: center;
    padding: 10px;
}

p, a {
    display: block;
    margin: 5px auto;
}

@media (min-width: 576px) {
    p, a {
        display: inline-block;
        margin: 5px;
    }
}

.alert-blue {
    background-color: rgb(240, 255, 255);
    color: rgb(137, 207, 240);
    border: solid 1px rgb(137, 207, 240);
}